.container {
	transform: translate(-50%,-50%);
	padding: 9px 1px; 
    height: 7.4px;
}

input {
	outline: none;
	box-sizing: border-box;
	height: px;
	width: 300px;
	padding: 0 20px;
	color: #fff;
	background-color: #000;
	border-radius: 50px;
	font-size: 20px;
	border: 1px solid #D50000;
	transition: all .7s ease;
}

::placeholder {
	color: grey;
}

.btn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 45px;
	line-height: 8 0px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}

.btn{
	font-size: 25px;
	color: white;
	line-height: 80px;
	transition: all .7s ease;
}

.container .btn svg {
    position: absolute;
    margin-top: 12px;
    margin-left: -.5em;
    margin-left: -10px;
}