.selección-especial {
    position: relative;
    overflow: hidden;
}

.carrusel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrusel-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.carrusel-slide img {
    width: 300px;
    height: auto;
    border-radius: 8px; /* Opcional: Añade border-radius para esquinas redondeadas */
}

/* Estilos para los botones de navegación */
.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}