.selección-especial{
    display: flex;
    overflow-x: hidden;
    padding-bottom: 1em;
}



.continuar-viendo{
    display: flex;
    margin-left: 2.5rem;
}

.continuar-viendo img{
    width: 250px;
    border-radius: 2%;
}

h4 {
    margin-left: 2.5em;
    padding-bottom: 1.3em;
    padding-top: 1em;
    font-size: 18px;
    color: #e5e5e5;
}

h4:hover{
    color: #ffffff;
}

.selección-especial {
    display: flex;
    line-height: 34px;
    overflow-x: hidden;
    padding-bottom: 1em;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    align-content: space-around;
}

.selección-especial svg {
    width: 7em;
    height: 7em;
}

.selección-especial img {
    width: max-content;
}


.botones #muteButton .bocinita {
    margin-left: 45rem;
    margin-top: 7px;
}

.selección-especial .top {
    display: flex;
}

.selección-especial .top img {
    width: 7em;
    margin-left: -1em;
}

.selección-especial .top svg {
    width: 7em;
    height: 8.8em;
    margin-top: 1em;
}

.seleccion-especial-result {
    width: 200px; /* Puedes ajustar el valor según tus necesidades */
    margin: 10px; /* Agrega márgenes según sea necesario */
}

.seleccion-especial-result img {
    width: 100%; /* Ajusta la imagen para que ocupe el 100% del contenedor */
    border-radius: 2%; /* Mantén el redondeo de las esquinas si lo deseas */
}